@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #212529;
}


.file-upload-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  border: 3px dashed rgba(128, 128, 128, 0.5);
  border-radius: 15px;
  cursor: pointer;
}
.border-color{
  border: 2px solid rgba(128, 128, 128, 0.5) !important;
}

/* RGB(39, 24, 47) - #27182F
RGB(25, 17, 30) - #19111E
RGB(38, 23, 44) - #26172C
RGB(26, 18, 31) - #1A121F
RGB(42, 24, 50) - #2A1832
RGB(23, 16, 24) - #171018
RGB(30, 18, 32) - #1E1220
RGB(34, 21, 38) - #221526
RGB(37, 22, 43) - #25162B
RGB(39, 24, 45) - #27182D */